// =========== footer ======================
.page__main-footer.bg-brown.light-color
	.container.main-footer
		.row
			.col-xs-3
				.main-footer__header Нильфхейм
				ul.main-footer__list
					li
						a(href='#') О нас
					li
						a(href='#') Цены
					li
						a(href='#') Услуги
					li
						a(href='#') Контакты
					li
						a(href='#') Карта сайта
			.col-xs-3
				.main-footer__header SEO
				ul.main-footer__list
					li
						a(href='#') Аудит сайта
					li
						a(href='#') Первичная оптимизация
					li
						a(href='#') Аудит + ПО
					li
						a(href='#') Продвижение сайтов
			.col-xs-3
				.main-footer__header Развитие сайтов
				ul.main-footer__list
					li
						a(href='#') Копирайтинг
					li
						a(href='#') Контекстная реклама
					li
						a(href='#') Контент (наполнение сайта)
					li
						a(href='#') Техническая поддержка
			.col-xs-3
				.main-footer__header Контактная информация
				ul.main-footer__list
					li 
						i.icon.icon-truba-white-sm
						span +7 (952) 965 56-94
					li.mail
						i.icon.icon-flag-white
						a(href='mailto:info@niflheimr-13ru') info@niflheimr-13ru
					li
						i.icon.icon-boat-white-sm
						span г. Брянск ул. Горбатова д. 23
		.row.main-footer__bottom
			.col-xs-6.copyright © 2016 «Нифльхейм» Все права защищены.
			.col-xs-6.social-wrap
				ul.social.fl-right
					li.social__item
						a(href='https://vk.com/niflheimr13')
							i.icon.icon-vk-sm
					li.social__item
						a(href='https://www.facebook.com/niflheimr13/')
							i.icon.icon-fb-sm
					li.social__item
						a(href='https://ok.ru/group/53283061825707')
							i.icon.icon-ok-sm
					li.social__item
						a(href='https://ok.ru/group/53283061825707')
							i.icon.icon-tw-sm
					li.social__item
						a(href='https://ok.ru/group/53283061825707')
							i.icon.icon-inst-sm
// =========== footer end ===========
// =========== popup  ===========
#callback
	.popup-callback
		p.title Форма обратной связи
		.row
			.col-xs-6
				.input
					input(placeholder='Ваше имя', type='text')
			.col-xs-6
				.input
					input.phone-mask(placeholder='Телефон', type='text', required='')
		.input
			input(placeholder='E-mail', type='email', required='')
		.input.textarea
			textarea(placeholder='Сообщение')
		button(type='submit') Отправить
// =========== popup end ===========