// =========== header ===========
header.page__header.main-header
	.main-header__top.bg-brown.light-color
		.container
			ul.main-header__contacts
				li
					i.icon.icon-truba-whtie
					a(href='tel:+79158002765') +7 (915) 800 27-65
				li
					i.icon.icon-flag-white
					a(href='mailto:info@niflheimr-13.ru') info@niflheimr-13.ru
				li.fl-right
					i.icon.icon-boat-white
					| г. Брянск ул. Молодой Гвардии д. 64, оф. 128
	.main-header__center
		.container
			.row
				.col-xs-3.left
					ul.social
						li.social__item
							a(href='https://vk.com/niflheimr13')
								i.icon.icon-vk
						li.social__item
							a(href='https://www.facebook.com/niflheimr13/')
								i.icon.icon-fb
						li.social__item
							a(href='https://ok.ru/group/53283061825707')
								i.icon.icon-ok
						li.social__item
							a(href='https://ok.ru/group/53283061825707')
								i.icon.icon-tw
						li.social__item
							a(href='https://ok.ru/group/53283061825707')
								i.icon.icon-inst
				.col-xs-6.center
					a(href="/").logo
						img(src='img/logo.png', alt='')
				.col-xs-3.ta-right.right
					a.fancybox.btn.btn--bird(href='#callback') Заказать звонок
// =========== header end ===========