extends _template

block main
	// =========== main-bg  ===========
	.page__main-bg.inner
		.container
			.main-bg
				h1 Нильхейм
				.main-menu
					ul.main-menu__list
						li.main-menu__item
								a.main-menu__link(href='#') Главная
						li.main-menu__item
								a.main-menu__link(href='#') О нас
						li.main-menu__item
								a.main-menu__link(href='#') Услуги
						li.main-menu__item
								a.main-menu__link(href='#') Цены
						li.main-menu__item
								a.main-menu__link(href='#') Контакты
	// =========== main-bg end ===========
	// =========== breadcumbs ===========
	.breadcumbs
		.container
			ul
				li: a(href="") Главная
				li: a(href="") О нас
	// =========== breadcumbs end ===========
	// =========== inner content ===========
	.inner-content
		.container
			.inner-content__header 
				h1 О нас
		.inner-content__main.bg-brown.light-color.text-area
			.container
				.text-area__border
					.about__img.image-border
						img(src="img/about-image.jpg", alt="")
					.about__desc
						.about__row
							.about__header 
								.ico
								span Никаких менеджеров, только специалисты.
							p Мы любим свою работу, а пустую болтовню - не очень. Наш подход прост - если человек хочет получить результат, то будет заинтересован в общении со специалистом напрямую. Это позволяет задавать конкретные вопросы и получать такие же конкретные ответы, никакого испорченного телефона.
						.about__row
							.about__header 
								.ico
								span Кодекс seoшника - не врать!
							p На самом деле никакого кодекса не существует. Только что мы соврали. Почему? Потому что вы не клиент. А клиентам - мы не врём. Даже если очень хочется. Опять почему? Да потому что не умеем! Мы специалисты, а не «дипломированные психологи», мы говорим как есть, даже если всё очень плохо. У нас нет времени висеть часами на телефоне, придумывая отговорки.
						.about__row
							.about__header 
								.ico
								span Вальхалла Ждет!
							p Уникальная возможность! Заказав у нас любую услугу - клиент автоматически бронирует себе место в Вальхалле. Не каждый день такое услышишь, а?

	// =========== inner content end ===========
	.page__text-area.bg-brown.light-color.text-area
		.container
			.text-area__border
				.row
					.col-xs-12
						h2 Подзаголовок h2
					.col-xs-12
						p
							| Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигиПервая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигиПервая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офиги
	// =========== form ===========
	.page__services-form
			.container
					form.services-form.section(action='#')
							h2 Закажи услугу
							.row.checkbox-group
									.col-xs-12.checkbox-group__top
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Первичная оптимизация
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name аудит
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Техническая поддержка
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Котекстная реклама
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Контент
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Продвижение по позициям
									.col-xs-12.checkbox-group__bottom
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Аудит + ПО
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Копирайтинг
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Продвижение по трафику
							.row.input-group
									.col-xs-4
											.input
													input(type='text', placeholder='Ваше имя*', required='')
													i.icon.icon-man
											.input
													input(type='text', placeholder='Адрес сайта')
													i.icon.icon-shalash
									.col-xs-4
											.input
													input.phone-mask(type='text', placeholder='Номер телефона*', required='')
													i.icon.icon-truba
											.input
													input(type='email', placeholder='E-mail*', required='')
													i.icon.icon-flag
									.col-xs-4
											.input.textarea
													textarea(placeholder='Комментарии')
													i.icon.icon-beer
									.col-xs-12.ta-center
											button.btn.btn--bird.services-form__submit(type='submit') Заказать!
	// =========== form end ===========