extends _template

block main
	// =========== main-bg  ===========
	.page__main-bg.inner
		.container
			.main-bg
				h1 Нильхейм
				.main-menu
					ul.main-menu__list
						li.main-menu__item
								a.main-menu__link(href='#') Главная
						li.main-menu__item
								a.main-menu__link(href='#') О нас
						li.main-menu__item
								a.main-menu__link(href='#') Услуги
						li.main-menu__item
								a.main-menu__link(href='#') Цены
						li.main-menu__item
								a.main-menu__link(href='#') Контакты
	// =========== main-bg end ===========
	// =========== breadcumbs ===========
	.breadcumbs
		.container
			ul
				li: a(href="") Главная
				li: a(href="") Услуги
				li: a(href="") Аудит сайта
	// =========== breadcumbs end ===========
	// =========== inner content ===========
	.inner-content
		.container
			.inner-content__header 
				h1 Аудит сайта
		.inner-content__main.bg-brown.light-color.text-area
			.container
				.text-area__border.clearfix
					img(src="img/audit-img.png", alt="").fl-left
					p Тестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестирования
					p Тестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый текст тестовой страницы для тестированияТестовый 


	// =========== inner content end ===========
	// =========== service form ===========
	.service-form
		.container
			
			.service-form__body
				h2 Цена аудита сайта
				form(action="#").row
					.service-form__left.col-xs-9
						.service-form__info
							img(src="img/audit-circle.jpg", alt="")
							.text
								strong Сроки выполнения
								p 10 рабочих дней (2 обычные недели)
						.service-form__info.fl-right
							img(src="img/audit-chest.jpg", alt="")
							.text
								strong Цены на аудит
								p 5000 рублей
						.service-form__form
							.row
								.col-xs-4
									.input
										input(type="text" placeholder="Ваше имя*")
										i.icon.icon-man
								.col-xs-4
									.input
										input(type="text" placeholder="Адрес сайта*")
										i.icon.icon-shalash
								.col-xs-4
									.input
										input(type="text" placeholder="E-mail*")
										i.icon.icon-flag
					.service-form__right.col-xs-3
						label.service-form__submit
							input(type="submit" value="Заказать аудит сайта")


	// =========== service form ===========
	.page__text-area.bg-brown.light-color.text-area
		.container
			.text-area__border
				.row
					.col-xs-12
						h2 Подзаголовок h2
					.col-xs-12
						p
							| Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигиПервая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигиПервая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офиги

	// =========== form ===========
	.page__services-form
			.container
					form.services-form.section(action='#')
							h2 Закажи услугу
							.row.checkbox-group
									.col-xs-12.checkbox-group__top
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Первичная оптимизация
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name аудит
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Техническая поддержка
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Котекстная реклама
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Контент
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Продвижение по позициям
									.col-xs-12.checkbox-group__bottom
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Аудит + ПО
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Копирайтинг
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Продвижение по трафику
							.row.input-group
									.col-xs-4
											.input
													input(type='text', placeholder='Ваше имя*', required='')
													i.icon.icon-man
											.input
													input(type='text', placeholder='Адрес сайта')
													i.icon.icon-shalash
									.col-xs-4
											.input
													input.phone-mask(type='text', placeholder='Номер телефона*', required='')
													i.icon.icon-truba
											.input
													input(type='email', placeholder='E-mail*', required='')
													i.icon.icon-flag
									.col-xs-4
											.input.textarea
													textarea(placeholder='Комментарии')
													i.icon.icon-beer
									.col-xs-12.ta-center
											button.btn.btn--bird.services-form__submit(type='submit') Заказать!
	// =========== form end ===========