extends _template

block main
	// =========== main-bg  ===========
	.page__main-bg
		.container
			.main-bg
				h1 Нильхейм
				.main-menu
						ul.main-menu__list
								li.main-menu__item
										a.main-menu__link(href='#') Главная
								li.main-menu__item
										a.main-menu__link(href='#') О нас
								li.main-menu__item
										a.main-menu__link(href='#') Услуги
								li.main-menu__item
										a.main-menu__link(href='#') Цены
								li.main-menu__item
										a.main-menu__link(href='#') Контакты
	// =========== main-bg end ===========
	.page__text-area.bg-brown.light-color.text-area
			.container
					.text-area__border
							.row
									.col-xs-12
											h2 Продвижение сайтов без соплей!
									.col-xs-5
											p
													| Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офиги
									.col-xs-2.ta-center
											img.img-responsive(src='img/text-block-decorate.png', alt='')
									.col-xs-5
											p
													| Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офиги
	// =========== services ===========
	.page__services
			.container
					.services
							.services__item.section.section
									.services__image
											img(src='img/services1.jpg', alt='')
									.services__right
											h2.ta-left Аудит
											p
													| Кеннинг (kenning) — разновидность метафоры, характерная для скальдической поэзии. Принципы построения кеннингов и многочисленные примеры можно найти в Младшей Эдде.
											p
													| Кеннинг представляет собой описательное поэтическое выражение, состоящее как минимум из двух существительных и применяемое для замены обычного названия какого-либо предмета или персоны. Пример: «сын Одина» — Тор, «вепрь волн» — корабль, «волк пчёл» (то есть Беовульф) — медведь.
											p
													| Кеннинги могут быть составными, например «ясень бури мечей» (буря мечей — битва, ясень битвы — воин). Самый длинный скальдический кеннинг — «метатель змеев метели Мист месяца балки зыби» — принадлежит Торду, сыну Сьярека.
											.services__footer.clearfix
													.price
															span Цена:
															|  5000 руб.
													a.btn.btn--shield(href='#') Узнать больше
							.services__item.section.section
									.services__image
											img(src='img/services2.jpg', alt='')
									.services__right
											h2.ta-left Копирайтинг
											p
													| Дра́па (др.-сканд. Drápa) — основная форма написания хвалебных песней в скальдической поэзии, также высшая, торжественная форма хвалебной песни.
											p
													| Хвалебная песнь как таковая — исконный, центральный жанр скальдической поэзии, а драпа является его основной формой. Драпа представляет собой стихотворный перечень имен или каких-либо сведений. Каждая из вис, составляющих драпу, — замкнутое в метрическом и смысловом отношении целое. Сюжет в драпе отсутствует, нет прямой речи, диалогов, монологов и т. п. Единственное, что иногда позволяет установить последовательность вис в драпе, — хронология описываемых событий. Однако эти события (битвы, войны и т. п.) в драпе не индивидуализированы, а представлены общими деталями. Вероятно, по этой причине сохранилось множество фрагментов, но почти ни одной целой.
											.services__footer.clearfix
													.price
															span Цена:  от 80 руб. за 1 к символов
													a.btn.btn--shield(href='#') Узнать больше
							.services__item.section.section
									.services__image
											img(src='img/services3.jpg', alt='')
									.services__right
											h2.ta-left Первичная оптимизация (ПО)
											p
													| Флокк (др.-сканд. Flokkr) — форма хвалебной песни в скандинавской скальдической поэзии, представляющая собой цикл вис, связанных одной темой, и отличавшаяся от драпы отсутствием строгой структуры деления на отдельные разделы-фрагменты (стефьябалкар), отделённые друг от друга стевом (разновидностью рефрена или припева, известного ещё со времён эддической поэзии); стева как такового в них не было. В качестве метра для написания флокков использовался дротткветт. Флокк мог возносить хвалу вождям или ярлам, но не конунгам, поэтому обычно считается менее значительным и торжественным произведением, нежели драпа. В одной из легенд рассказывается, что когда скальд Торарин Ловтунга по глупости исполнил флокк перед королём Кнудом Великим, то был приговорён к смертной казни за оскорбление величества, но позднее был помилован, исполнив вместо флокка драпу вместе с декламацией стева.
											.services__footer.clearfix
													.price
															span Цена:
															|  5000 руб.
													a.btn.btn--shield(href='#') Узнать больше
							.services__item.section.section
									.services__image
											img(src='img/services4.jpg', alt='')
									.services__right
											h2.ta-left Аудит + ПО
											p
													| Дротткветт (др.-сканд. Dróttkvætt, Дроёттквэтт) или «дружинный размер» — трёхтактный стихотворный размер, наиболее детально разработанный в скальдической поэзии. Размер использует различные формы аллитераций и ассонансов, удовлетворящих требованиям германского стиля аллитерационного стиха.
											p
													| Дротткветт подразумевает одни из наиболее жестких правил в скальдической поэзии. Требования были настолько жесткими, что часто поэма записывалась двумя синтаксами, т.е. отдельные предложения могли переплетаться друг с другом. Общие правила переплетения: одно из двух первых предложений должно закончиться раньше, чем начнётся третье. Частный тип вставки занимает всю предпоследнюю строку полустрофы и первую половину последней строки.
											.services__footer.clearfix
													.price
															span Цена:
															|  7500 руб.
													a.btn.btn--shield(href='#') Узнать больше
							.services__item.section.section
									.services__image
											img(src='img/services5.jpg', alt='')
									.services__right
											h2.ta-left Продвижение
											p
													| Тёглаг, тоглаг (tøglag, toglag) — скальдический размер стихосложения. Этимология этого названия неясна. Тёлаг — размер четырёхсложный, двухтактный с той же строфической композицией, расположением аллитераций и хендингов, что и в дротткветте. Пример двустишия тёглага (Сигхват сын Торда «Драпа о Кнуте»):
											p Князь был бос,
											p Нес он посох.
											p
													| В этом размере допускались некоторые вольности в отношении числа слогов, аллитерации и хендингов. Теглагом было сочинено несколько хвалебных песен.
											.services__footer.clearfix
													.price
															span Цена: зависит от типа и сайта.
													a.btn.btn--shield(href='#') Узнать больше
							.services__item.section.section
									.services__image
											img(src='img/services6.jpg', alt='')
									.services__right
											h2.ta-left Контент
											p
													| Лаусавис (др.-сканд. ед.ч. lausavísa, мн.ч. lausavísur) — в скальдической поэзии и в более поздней исландской поэзии станс или несколько стансов, не связанных друг с другом повествованием.
											p В тексте саги лаусавис всегда начинается со слов þá kvað (и сказано).
											p
													| Мансёнг — скальдический жанр, находящий формальное выражение в драпе или отдельной висе, с доминирующей прагматической (восходящей к магической) функцией и с содержанием, обусловленным выражением (или констатацией) скальдом его чувства к женщине.
											.services__footer.clearfix
													.price
															span Цена: по договоренности
													a.btn.btn--shield(href='#') Узнать больше
	// =========== services end ===========
	.page__text-area.bg-brown.light-color.text-area
			.container
					.text-area__border
							.row
								.col-xs-12
										h2 Подзаголовок h2
								.col-xs-12
										p
												| Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигиПервая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигиПервая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офигительного Патрикеевского SEO-текста. Первая небольшая часть офиги
	// =========== form ===========
	.page__services-form
			.container
					form.services-form.section(action='#')
							h2 Закажи услугу
							.row.checkbox-group
									.col-xs-12.checkbox-group__top
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Первичная оптимизация
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name аудит
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Техническая поддержка
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Котекстная реклама
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Контент
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Продвижение по позициям
									.col-xs-12.checkbox-group__bottom
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Аудит + ПО
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Копирайтинг
											label.checkbox.checkbox--wood
													input(type='checkbox')
													span.checkbox--wood__body
															span.checkbox--wood__axe
															span.checkbox--wood__wood
													span.checkbox--wood__name Продвижение по трафику
							.row.input-group
									.col-xs-4
											.input
													input(type='text', placeholder='Ваше имя*', required='')
													i.icon.icon-man
											.input
													input(type='text', placeholder='Адрес сайта')
													i.icon.icon-shalash
									.col-xs-4
											.input
													input.phone-mask(type='text', placeholder='Номер телефона*', required='')
													i.icon.icon-truba
											.input
													input(type='email', placeholder='E-mail*', required='')
													i.icon.icon-flag
									.col-xs-4
											.input.textarea
													textarea(placeholder='Комментарии')
													i.icon.icon-beer
									.col-xs-12.ta-center
											button.btn.btn--bird.services-form__submit(type='submit') Заказать!
	// =========== form end ===========